.next
coverage
node_modules
Makefile
package-lock.json
pnpm-lock.yaml
.vercel
testnet
playwright-report
test-results
.lighthouseci
docs/potdo_pitch_deck.html
public/pitch/index.html
backend
.mypy_cache
